# Generated executables dir
/target

# vim swap files
*.swp

# vim swo files
*.swo

# Emacs
*~                    # Backup files
.#*                   # Auto-save files
\#*                   # Auto-save files

